body{
    background-image: url('../img/pizza.jpg');
}

.jumbo{
    background-image: url('../img/pizza-jum.jpg');
}

body,.jumbo{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container{
    border-radius: 30px;
}

@media only screen and (max-width: 480px) {
    .navy{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    
}

div,footer,section{
    overflow: hidden;
}

label{
    width: 100px;
    margin-left: 5px;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
#quantity,#crust,#size,#topping{
    width: 128px;
    height: 25px;
}

.res,#cancel,#checkout,#repeat{
    display: none;
}

.h-up{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crustyTable,#sizeTable{
    height: 117px;
}
.totalPizza{
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

#listOrders p{
    margin: 5px 5px;
    padding: 0px 5px;
}

.grandTotal{
    font-size: 21px;
}

.totalBill:focus, .totalBill.focus{
    text-decoration: underline;
    background-color: white;
    color: black;
}